<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="StreamingUrl" value="https://push.cityindex.com" />
		<add key="RestUrl" value="https://ciapi.cityindex.com/tradingapi" />
		<add key="Port" value="5512" />
		<add key="Backlog" value="100" />
		<add key="BufferSize" value="256" />
	</appSettings>
</configuration>